# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
venv/
.venv/
*.db
backend/data/

# Node
node_modules/
frontend/build/
.npm
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
.dockerignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Helm
helm/prompt-manager/charts/

# Terraform
**/.terraform/
**/.terraform.plans/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Playwright Test
playwright-report/
test-results/